<!DOCTYPE html>
<head>
  <title>plantDaddy</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='plant.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='plant.png') }}" class="icon" />
  <h3>plantDaddy</h3>
  <form action="/" method="post">
    <p>for plant care instructions, tell me what plant you have</p>
    <p>to find out if your home is ideal for your plant, tell me the average temperature and/or humidity in your home as well.</p>
    <input type="text" name="plant" placeholder="What plant do you have?" required />
    <input type="text" name="temp" placeholder="What is the average temperature in your home?" />
    <label for="temp_unit">Temperature Unit:</label>
    <select name="temp_unit">
        <option value="F" selected>Fahrenheit</option>
        <option value="C">Celsius</option>
    </select>
    <input type="text" name="humidity" placeholder="What is the average humidity in your home?" />
    <input type="submit" value="Help me daddy" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
  I'm a website, not a botanist. Use at your own risk.
</body>
